{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>JNVS NEWS</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Our Goal</mark></h5>
                    <p class="card-text">
                        <ol>
                        Our goal here at JNVS News is to deliver easily accessible and unbiased news for you to inform yourselves. We want you to have the best user experience possible.
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Our Features</h5>
                    <p class="card-text">
                        <ol>
                        Our features are there to cater to all sorts of audiences. Interested in sports? We have an actively updating NFL page which gives you the latest updates on how YOUR favorite team is faring this season. This feature is going to be expanded to multiple other sports, so make sure to stay tuned for that. Only interested in the most exciting news? We have a way for you to see breaking news in YOUR area, no matter where you live. Our site also offers educational features, such as the Fact of the Day feature and the trivia feature, where you can learn about cool things that happened on each day and educate yourselves on different subjects.    
                        </ol>
                    </p>
                    
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Our Team</h5>
                    <p class="card-text">
                        <ol>
                        Currently, our team features four individuals in AP Computer Science Principles: Shaurya Goel, Navan Yatavelli, Justin Nguyen, and Vardaan Sinha. We hope to expand our team in the future, but for now, we are all very focused on delivering the best user experience possible on our site.   
                        </ol>
                    </p>
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}